Repository DevExpress/testcafe, pull requests merged in 2021-03, with the labels that each got.

#5969 [docs] Describe `--cache`
  docs/articles/documentation/guides/advanced-guides/speed-up-test-execution.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/run.md
Labels: AREA: docs

#6004 [docs] v1.12 changelog
  CHANGELOG.md
  docs/articles/blog/2021-03-03-testcafe-v1-12-0-released.md
Labels: AREA: docker

#6009 [docs] Cherry-pick from new-docs for v1.12 release
  CHANGELOG.md
  docs/articles/blog/2021-03-03-testcafe-v1-12-0-released.md
  docs/articles/documentation/guides/advanced-guides/speed-up-test-execution.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/runner/run.md
  docs/articles/templates/intercept-http-requests/request-filter.md
Labels: AREA: docs

#6012 [docs] Move options from runner.run to createTestCafe
  CHANGELOG.md
  docs/articles/blog/2021-03-03-testcafe-v1-12-0-released.md
  docs/articles/blog/2021-2-15-testcafe-v1-11-0-released.md
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/global/createtestcafe.md
  docs/articles/documentation/reference/testcafe-api/runner/run.md
Labels: AREA: docs

#6018 Publish website 05.03
  blog/testcafe-v1-11-0-released.html
  blog/testcafe-v1-12-0-released.html
  documentation/reference/command-line-interface.html
  documentation/reference/configuration-file.html
  documentation/reference/testcafe-api/global/createtestcafe.html
  documentation/reference/testcafe-api/runner/run.html
  feed.xml
  sitemap.xml
Labels: AREA: docs

#6025 [docs] Add template for Selector options
  docs/articles/documentation/guides/basic-guides/select-page-elements.md
  docs/articles/documentation/reference/test-api/selector/README.md
  docs/articles/templates/selectors/selector-members.md
Labels: AREA: docs

#5993 [docs] Update `request failed` error and troubleshooting guide
  docs/articles/faq/README.md
  src/errors/test-run/templates.js
Labels: AREA: docs

#6030 [docs] Describe prerequisites for screenshots and resizeWindow
  docs/articles/documentation/guides/advanced-guides/screenshots-and-videos.md
  docs/articles/documentation/guides/basic-guides/interact-with-the-page.md
  docs/articles/documentation/reference/test-api/testcontroller/resizewindow.md
  docs/articles/documentation/reference/test-api/testcontroller/resizewindowtofitdevice.md
  docs/articles/documentation/reference/test-api/testcontroller/takeelementscreenshot.md
  docs/articles/documentation/reference/test-api/testcontroller/takescreenshot.md
  docs/articles/templates/actions/screenshots-prerequisites.md
Labels: AREA: docs

#6029 [docs] Multi-window browser support
  docs/articles/documentation/guides/advanced-guides/multiple-browser-windows.md
Labels: AREA: docs

#6053 [docs] Documentation for new --config-file feature
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/global/createtestcafe.md
  docs/articles/faq/README.md
Labels: STATE: Need response

#6054 [docs] Describe test.timeouts
  docs/articles/documentation/reference/README.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/test-api/test/timeouts.md
  docs/articles/documentation/reference/test-api/testcontroller/setpageloadtimeout.md
  docs/nav/nav-menu.yml
Labels: AREA: docs

#6047 [docs] Describe type-casting HTML elements in client side TypeScript code
  docs/articles/documentation/guides/concepts/typescript-and-coffeescript.md
Labels: AREA: docs

#6068 [docs] Cherry-pick new-docs for v1.13 release
  docs/articles/documentation/reference/command-line-interface.md
  docs/articles/documentation/reference/configuration-file.md
  docs/articles/documentation/reference/testcafe-api/global/createtestcafe.md
  docs/articles/faq/README.md
Labels: AREA: docs

#6063 [docs] v1.13.0 changelog
  CHANGELOG.md
  docs/articles/blog/2021-3-03-testcafe-v1-12-0-released.md
  docs/articles/blog/2021-3-22-testcafe-v1-13-0-released.md
Labels: AREA: docs

#6058 [docs] Add note about multiple windows in custom browsers
  docs/articles/documentation/guides/advanced-guides/multiple-browser-windows.md
Labels: AREA: docs
